<% content_for :title do %>
    <title>Viewing Review</title>
<% end %>

<div class="container">
    
    <p id="notice"><%= notice %></p>
    
    <h1>Viewing Review</h1>
    
    <p>
        <strong>Reviewer's Name:</strong>
        <%= @review.name %>
    </p>
    
    <p>
        <strong>Comment:</strong>
        <%= @review.comment %>
    </p>
    
    <hr>
    
    <%= link_to "Edit", edit_review_path(@review), :class => 'btn btn-default' %> |
    <%= link_to "Back", reviews_path, :class => 'btn btn-default' %>
    
</div>
