<% if Rails.env.development? %>
    <!-- app/views/layouts/_navbar.html.erb -->
<% end %>

<!-- Navigation Bar -->
<nav class="navbar navbar-default">

  <div class="container-fluid">
  
    <div class="navbar-header">
      
      <%= link_to welcome_index_path, :class => "navbar-brand" do %>
      
        <%= image_tag "logo_aggie_moms.png", :alt => "Aggie Moms' Club logo" %>
      
      <% end %>
      
    </div>

    <ul class="nav navbar-nav">
        
      <%= active_link_to 'HOME', welcome_index_path, :wrap_tag => :li %>
      
      <%= active_link_to 'ABOUT', welcome_about_path, :wrap_tag => :li %>
      
      <%= active_link_to 'FAQ', welcome_faq_path, :wrap_tag => :li %>
       
      <%= active_link_to 'GALLERY', welcome_gallery_path, :wrap_tag => :li %>
      
      <%= active_link_to 'PRODUCT', welcome_product_path, :wrap_tag => :li %>
      
    </ul>
    
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <%= active_link_to 'ADMIN', welcome_admin_path, :wrap_tag => :li %>
        <%= active_link_to 'LOGOUT', destroy_user_session_path, method: :delete, :wrap_tag => :li %>
        <% else %>
        <%= active_link_to 'LOGIN', new_user_session_path, :wrap_tag => :li %>
        <% end %>
      </ul>
    </div>
   
     
  </div>
  
</nav>